@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
a{text-decoration:none; color:#000;}
a:hover{ color:#eb4722;}
body{ background-color:#fff; font-size:12px;}
ul{list-style:none;}


.left{float:left;}
.right{float:right;} 
.clear{clear:both;}

.radioclass {
opacity: 0;
cursor: pointer;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
}

.marr30{margin-right:30px;}
.marr10{margin-right:10px;}
.mart10{margin-top:10px;}
.marl10{margin-left:10px;}
.mart5{margin-top:5px;}
.txtvalue{width:150px; height:26px; line-height:26px; border:1px solid #ccc; text-indent:2px;}


